<h1>Hello#world</h1>
<p>Find me in app/views/hello/world.html.erb</p>
<%= t('hello') %>
<br/>
<br/>
<%= t('hi.world') %>
<br/>
<br/>
<%= t('this.key.does.not.exist') %>
<br/>
<br/>
<a href="?locale=en">english</a>
<a href="?locale=he">hebrew</a>
