body{
  visibility:hidden;
}
span.i18nized{

}
.i18nized-active{
    border:1px solid red;
    border-radius:3px;
    padding:3px;
}
.i18nControlPannel{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:30px;
    background-color:#fdf6e3;
    padding:5px;
    line-height:30px;
    text-align:left
}
.i18nControlPannel button{
    background-color:#586e75;
    border-radius:3px;
    border:1px solid #eee8d5;
    color:#eee8d5;
    padding:3px 8px 3px 8px;
    margin:3px 8px 3px 8px;
}

